
<div id="series-example">Интерфейс для библиотек и памятников</div>
<p>несколько значений вводятся через запятую, без пробелов (например, "minsk,9")</p>
<label id="episodes-checkbox">Введите значение:<br>
    <input id="series_district-input" class="input-district-field" type="string" autocomplete="off"/>
<br>

<button id="button-find-series-district" type="button" class="btn btn-success button-load-series">Среднее количество книг в библиотеках города</button>
    <button id="get-library" type="button" class="btn btn-success button-load-series">Библиотеки города</button>
    <button id="close-time" type="button" class="btn btn-success button-load-series">Найти библиотеки по городу и времени открытия</button>
    <button id="city-module" type="button" class="btn btn-success button-load-series">Найти памятники по городу</button>
    <button id="year" type="button" class="btn btn-success button-load-series">Найти памятники по году</button>
    <button id="type" type="button" class="btn btn-success button-load-series">Найти памятники по типу</button>

